<div class="men-slider-control p-4">
  <div class="men-slider-control-content">
    <button mat-icon-button class="men-arrow-btn" (click)="onLeft()">
      <mat-icon>arrow_left</mat-icon>
    </button>
    <!-- <div class="men-dots gap-2 text-white-50">
      <mat-icon class="men-dot-active"> circle </mat-icon>
      <mat-icon> circle </mat-icon>
      <mat-icon> circle </mat-icon>
    </div> -->
    <button mat-icon-button class="men-arrow-btn" (click)="onRight()">
      <mat-icon>arrow_right</mat-icon>
    </button>
  </div>
</div>
