<section>
  <div class="container-fluid my-5 py-4">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>New Arrivals</h2>

        <div class="dropdown d-flex flex-column">
          <button mat-icon-button data-bs-toggle="dropdown" aria-expanded="false">
            <mat-icon>filter_list</mat-icon>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#" *ngFor="let item of dropdownItems">
              <mat-icon>{{item.icon}}</mat-icon>
              <span>{{item.text}}</span>
            </a></li>
          </ul>
        </div>
      </div>
      <div class="pt-5">
        <div
          class="d-flex flex-md-row justify-content-center align-items-center flex-wrap"
          style="width: 100%"
        >
          <ng-container *ngFor="let item of products">
            <app-product-card
              [item]="item"
              class="col-6 col-md-4 col-lg-2 p-2"
            ></app-product-card>
          </ng-container>
        </div>
      </div>
      <div class="d-flex align-self-stretch justify-content-center mt-2">
        <button mat-stroked-button class="men-btn men-btn-secondary">View All</button>
      </div>
    </div>
  </div>
</section>
