<section>
  <div class="container p-0 my-5">
    <div class="container">
      <div class="men-path d-flex align-items-center px-2 text-black-50 gap-1">
        <mat-icon class="fs-5" [routerLink]="'/home'">home</mat-icon>
        /
        <span> Shop </span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row flex-nowrap my-4">
      <div class="col-12 col-md-3 pe-md-4">
        <app-filters
          (afterCategorySelected)="onAfterCategorySelected($event)"
          (afterPriceRangeSelected)="onafterPriceRangeSelected($event)"
        ></app-filters>
      </div>
      <div class="col-12 col-md-9">
        <div class="container p-4">
          <div
            class="row"
            [@moveIn]="
              (products
                | productFilterByCategory : categorySelected
                | productFilterByPrice : priceRangeSelected).length
            "
          >
            <app-product-card
              class="col-6 col-md-4 col-lg-3"
              [item]="item"
              *ngFor="
                let item of products
                  | productFilterByCategory : categorySelected
                  | productFilterByPrice : priceRangeSelected
              "
            ></app-product-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
