<section>
  <div class="container-fluid">
    <div class="container">
      <div class="men-section my-5 pb-4">
        <div
          class="men-path d-flex align-items-center px-2 text-black-50 gap-1"
        >
          <mat-icon class="fs-5" [routerLink]="'/home'">home</mat-icon>
          /
          <span [routerLink]="'/shop'"> Shop </span>
          /
          <span [routerLink]="['/shop', category]" class="text-capitalize">
            {{ category }}
          </span>
        </div>
        <div class="row row-cols-1 row-cols-md-2 my-5 gap-4 gap-md-0">
          <div class="col d-flex flex-column-reverse flex-md-row gap-2">
            <div
              class="col-12 col-md-2 d-flex align-self-center align-self-md-start justify-content-center justify-content-md-start flex-md-column gap-2 gap-md-2"
              style="height: 7.5rem; width: fit-content;"
            >
              <ng-container *ngFor="let image of product?.images">
                <img
                [src]="image.imageUrl"
                class="w-100 h-100 object-fit-cover rounded-1 men-pointer"
                [alt]="product!.name + image.color"
                (click)="onImageSelect(image.color)"
              />
              </ng-container>
            </div>
            <div class="col-12 col-md-10 pe-md-2 men-item-img">
              <img
                [src]="selectedImg"
                class="w-100 h-100 object-fit-cover rounded-2"
                alt=""
              />
            </div>
          </div>
          <div class="col d-flex flex-column gap-4 gap-md-3 ps-md-4">
            <div class="d-flex flex-column gap-2">
              <div class="d-flex justify-content-between align-items-start">
                <h1 class="men-product-title m-0">{{ product?.name }}</h1>
              <button mat-icon-button (click)="onSave()" style="background: #f4f4f4b7;">
                <mat-icon class="men-saved-icon" [ngClass]="{ toggle: isInWishList }">{{
                  savedBtn
                }}</mat-icon>
              </button>
              </div>
              <p class="men-product m-0">By {{ product?.brand }}</p>
            </div>
            <div class="d-flex flex-column gap-2">
              <p class="men-product-price m-0">${{ product?.price }}</p>
              <p class="men-product-description m-0">
                {{ product?.description }}
              </p>
            </div>
            <div *ngIf="product?.sizes">
              <p [class.warn]="!selectedSize && showWarnings">Sizes</p>
              <div class="d-flex gap-2">
                <button
                  (click)="onSizeSelect(size)"
                  class="men-size-btn"
                  [ngClass]="{ selected: selectedSize == size }"
                  *ngFor="let size of product?.sizes; trackBy: trackBySize"
                >
                  {{ size }}
                </button>
              </div>
            </div>
            <div *ngIf="product?.colors">
              <p [class.warn]="!selectedColor && showWarnings">Colours</p>
              <div class="d-flex gap-2">
                <button
                  [title]="color.color"
                  (click)="onImageSelect(color.color)"
                  class="men-color-btn"
                  [ngClass]="{ 'color-selected': selectedColor!.toLocaleLowerCase() == color.color}"
                  [style]="getColor(color.code)"
                  *ngFor="let color of product?.images; trackBy: trackByColor"
                >
                  {{ color.color.charAt(0) }}
                </button>
              </div>
            </div>
            <div class="d-flex flex-column gap-4">
              <div>
                <p>Quntity</p>
                <div
                  class="d-flex justify-content-start align-items-center gap-2"
                >
                  <button class="men-qty-btn" (click)="onSelectedQtyDecrease()">
                    -
                  </button>
                  <input
                    type="number"
                    class="men-qty-input"
                    [(ngModel)]="qtySelected"
                    min="1"
                    [max]="product!.stockQuantity"
                  />
                  <button class="men-qty-btn" (click)="onSelectedQtyIncrease()">
                    +
                  </button>
                </div>
              </div>
              <!-- <button mat-flat-button class="men-btn">Add to Cart</button> -->
            </div>
            <div class="d-flex flex-column justify-content-between gap-2">
              <button
                mat-flat-button
                class="men-btn flex-fill"
                (click)="onAddToCart()"
              >
                Add to Cart
              </button>
              <button mat-flat-button class="men-btn men-btn-outline flex-fill">
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
