<section>
  <app-home-carousel></app-home-carousel>
</section>

<section>
  <div class="container-fluid">
    <div class="container">
      <div
        class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-5 gap-md-4 my-4 my-md-2 py-4"
      >
        <h3 class="pe-md-4">DRESS SHARP, LIVE SMART</h3>
        <div
          class="d-flex flex-column flex-md-row justify-content-end gap-5 gap-md-4"
        >
          <app-value-card
            [icon]="item.icon"
            *ngFor="let item of values"
            class="d-flex justify-content-center"
          >
            <span class="title">{{ item.title }}</span>
            <span class="text">{{ item.text }}</span>
          </app-value-card>
        </div>
      </div>
    </div>
  </div>
</section>

<app-category-slider [list]="categories"></app-category-slider>
<app-product-list></app-product-list>
<!-- <app-category-slider [list]="categories"></app-category-slider> -->
