<section>
  <div class="container-fluid">
    <div class="container">
      <div class="men-section my-5 pb-2">
        <div
          class="men-path d-flex align-items-center px-2 text-black-50 gap-1"
        >
          <mat-icon class="fs-5" [routerLink]="'/home'">home</mat-icon>
          /
          <span class="default">Cart</span>
        </div>
        <div class="row px-2 my-5" *ngIf="cartItems.length == 0">
          <div class="">
            <div
              class="d-flex flex-column align-items-center justify-content-center gap-2"
            >
              <div class="men-empty-cart-img-container">
                <img
                  src="../../../../assets/empty-cart.png"
                  class="object-fit-cover w-100 h-100"
                  alt=""
                />
              </div>
              <p class="text-center fs-5 m-0">Man! Your cart is empty.</p>
              <button mat-flat-button class="men-btn" [routerLink]="['/shop']">
                Start Shopping
              </button>
            </div>
          </div>
        </div>
        <div class="row px-2 my-5" *ngIf="cartItems.length > 0">
          <div class="col-12 col-lg-8 d-flex flex-column gap-4 pe-md-5">
            <div
              class="d-flex justify-content-between align-items-center border-bottom pb-4 mb-2"
            >
              <h2 class="fs-2 text-uppercase m-0" style="font-weight: 800">
                My Cart ({{ cartItems.length }})
              </h2>
              <button
                mat-flat-button
                class="men-btn men-btn-outline men-btn-sm"
                (click)="openDialog()"
              >
                Clear All
              </button>
            </div>
            <div [@moveIn]="cartItems.length + cartItems.length">
              <ng-container *ngFor="let item of cartItems; let last = last">
                <app-cart-item [item]="item"></app-cart-item>
                <hr *ngIf="!last" />
              </ng-container>
            </div>
          </div>
          <div class="col-12 col-lg-4 mt-5 mt-lg-0">
            <div class="d-flex flex-column gap-4">
              <app-coupon-details></app-coupon-details>
              <app-cart-summary></app-cart-summary>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
