@import '../../../../forms.scss';

.men-coupon-details {
  display: flex;
  flex-direction: column;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background: #f4f4f4b7 !important;
  padding: 10px 20px;
}
