<div class="d-flex justify-content-between">
  <div class="d-flex gap-4">
    <img
      [src]="product!.images[0]"
      [alt]="product!.name"
      class="img-fluid object-fit-cover"
      width="120rem"
    />
    <div class="d-flex flex-column gap-2">
      <span class="fs-5 fw-bold">{{ item.name }}</span>
      <span class="">${{ item.price }}</span>
      <span *ngIf="item.color" class="">{{ item.color }}</span>
      <div class="d-flex gap-2">
        <span *ngIf="item.size" class="">{{ item.size }}</span>
        <span class="">x {{ item.quantity }}</span>
      </div>
      <div>
        <div class="d-flex justify-content-start align-items-center gap-2">
          <button class="men-qty-btn" (click)="onSelectedQtyDecrease()">
            -
          </button>
          <input
            type="number"
            class="men-qty-input"
            [(ngModel)]="qtySelected"
            min="0"
            [max]="product!.stockQuantity"
          />
          <button class="men-qty-btn" (click)="onSelectedQtyIncrease()">
            +
          </button>
        </div>
      </div>
    </div>
  </div>
  <button mat-icon-button (click)="onRemoveFromCart(item)"><mat-icon>close</mat-icon></button>
</div>
