<div class="men-carousel container-fluid">
  <div class="container" style="height: inherit;">
    <div class="row overflow-hidden px-2" style="height: inherit;">
      <div class="col-6 d-flex text-white align-items-center z-1">
        <div @fade  class="men-hero-content d-flex flex-column gap-3 align-items-start" style="margin-top: -50px;">
          <p class="hero-text">TRENDING FASHION ITEMS TO
          </p>
          <h1 class="hero-title">unleash your <br> inner masculinity
          </h1>
          <button mat-stroked-button class="men-btn men-btn-outline-light" [routerLink]="'/shop'">Shop Now</button>
        </div>
      </div>
      <div class="col-6 ">
        <img @zoomOut src="../../../../assets/hero-man2.png" alt="" class="men-hero-img img-fluid h-100 object-fit-cover overflow-x-visible z-0">
      </div>
    </div>
  </div>
</div>
