/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

// Global variables
:root {
  --text-white:#fff;
  --text-dark:#222;
  --text-secondary:rgba(34, 34, 34, 0.6);
  --text-secondary-light: rgba(255, 255, 255, 0.5);
  --bg-gradient-dark:linear-gradient(90deg, #0f0f0f 0%, #171717 100%);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", sans-serif !important;
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #3d3d3d #222; /* Color of the thumb and track */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica Neue", sans-serif !important;
  font-size: 16px;
  line-height: 150%;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px !important; /* Rounded corners for the scrollbar thumb */
}

.material-icons{
  font-family: 'Material Icons' !important;
}

mat-icon {
  width: auto !important;
  height: auto !important;
}


.men-btn {
  display: flex !important;
  padding: 25px 28px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 100px !important;
  border-width: 2px !important;
  border-color: #ffffffa0 !important;
  background-color: black !important;
}

.men-btn-secondary {
  border-color: var(--text-secondary) !important;
  color: var(--text-dark) !important;
}

.men-btn-outline {
  background-color: transparent !important;
  color: var(--text-dark) !important;
  border: 2px solid var(--text-dark) !important;
}

.men-btn-outline-light {
  background-color: transparent !important;
  color: var(--text-white) !important;
  border: 2px solid var(--text-secondary-light) !important;
}

.men-btn-sm {
  font-size: 0.5rem !important;
  padding: 20px 15px !important;
}

.dropdown {
  cursor: pointer !important ;
}

.dropdown-menu {
  top: 15% !important;
  border: none !important;
  padding: 8px !important;
  border-radius: 2px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px !important;
    margin: 2px 0;
    color: var(--text-dark);
    transition-duration: 0.2S;
    span {
      font-size: 14px !important;
    }

    mat-icon {
      width: auto;
      height: auto;
      font-size: 20px;
    }
  }

  .dropdown-item:hover  {
    background-color: #ededed !important;
    color: black !important;
  }
}

.men-text-highlight {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 800;
  // line-height: 140%;
}

.men-text-secondary {
  color: var(--text-secondary-light);
}

.men-path {
  > * {
    cursor: pointer;
  }

  >*:hover {
    color: black;
    text-decoration: underline;
  }
}

.men-path > .default:hover {
  cursor: auto;
  color: var(--text-secondary) !important;
  text-decoration: none !important;
}

.men-menu-links {
  color: var(--text-secondary-light);
  position: relative;
  width: auto;
  cursor: pointer;
  text-decoration: none;
}

.men-menu-links::after {
  content: '';
  border-bottom: 1px solid white;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  transition: all 0.25s ease-in-out;
}

.men-menu-links:hover {
  color: var(--text-white);
}

.men-menu-links:hover::after {
  width: 100%;
}

